@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic');

:root {
  --color-text: #DEDEDE;
  --color-bg: #181818;
  --color-accent: #fac000;
  --color-gradient: linear-gradient(to right, #ffd000 0%, #f7de00 40%, #b85900 60%);
  --font-main: "Ubuntu", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #20003a;
  font-family: var(--font-main);
  font-size: 20px;
  font-weight: 500;
  color: var(--color-text);
}

body,
html {
  overflow-x: hidden;
}

.button {
  font-size: 15px;
  position: relative;
  overflow: hidden;
  height: 55px;
  font-weight: 500;
  min-width: 170px;
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  transition: all 0.3s ease;
}

.button:hover {
  color: var(--color-bg);
  letter-spacing: 2px;
  transform: translateY(-5px);
  scale: 1.05;
  box-shadow: var(--color-accent) 0px 7px 29px 0px;
}

.button:active {
  box-shadow: var(--color-accent) 0px 0px 0px 0px;
  transform: translateY(3px);
  transition: 70ms;
}

.button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, #b66d00 10%, #f7a000 50%, #ffd000 100%);
  opacity: 0;
  z-index: 1;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.button:hover::after {
  opacity: 1;
}

.button span {
  position: relative;
  z-index: 2;
}

.title {
  font-size: 55px;
  font-weight: 500;
  letter-spacing: 3px;
  background: var(--color-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  background-clip: no-repeat;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

.main-title {
  text-align: center;
  margin-top: 100px;
}

.todo-addTask {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (max-width: 590px) {
    width: 400px !important;
  }
}

.addTask_input-name {
  height: 25px;
  background: rgba(255, 255, 255, 0.3);
  padding: 0 30px;
  font-weight: 500;
  font-size: 18px;
  border-radius: 30px;
  margin-right: 30px;
  width: 310px;
  height: 55px;

  &::placeholder {
    font-size: 15px;
    font-weight: 500;
    color: #bbbbbb;

    @media only screen and (max-width: 590px) {
      font-size: 10px;
    }
  }

  @media only screen and (max-width: 590px) {
    width: 150px !important;
    font-size: 12px;
  }
}
.addTask_input-description {
  height: 25px;
  background: rgba(255, 255, 255, 0.3);
  padding: 0 30px;
  font-weight: 500;
  font-size: 18px;
  border-radius: 30px;
  margin-right: 30px;
  width: 360px;
  height: 55px;

  &::placeholder {
    font-size: 15px;
    font-weight: 500;
    color: #bbbbbb;

    @media only screen and (max-width: 590px) {
      font-size: 10px;
    }
  }

  @media only screen and (max-width: 590px) {
    width: 150px !important;
    font-size: 12px;
  }

}

.error-name-message {
  position: absolute;
  left: 90px;
  top: 90px;
  color: aqua;
}

.error-description-message {
  position: absolute;
  right: 310px;
  top: 90px;
  color: aqua;
}

@media only screen and (max-width: 590px) {
  .button {
    min-width: 100px;
  }
}


.addTask_block {
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  padding: 30px 50px;
  gap: 50px;
}

.todo-list {
  width: 1000px;
  border-radius: 30px;
  padding: 30px 50px;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  @media only screen and (max-width: 590px) {
    font-size: 16px;
    max-width: 380px;
    padding: 20px;
  }
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3px;
  background: linear-gradient(to right, #ff9100 0%, #b67d02 40%, #b85900 60%);
  padding: 30px;
  border-radius: 30px;
  width: 100%;

  @media only screen and (max-width: 590px) {
    padding: 10px;
  }
}


.todo-id {
  display: flex;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 20px;

  @media only screen and (max-width: 590px) {
    font-size: 14px;
  }
}

.buttons-todo-wrapper {
  gap: 10px;
  display: flex;
  align-items: center;

  @media only screen and (max-width: 590px) {
    svg {
      width: 20px;
    }

    .button-remove {
      min-width: 80px;
      font-size: 12px;
    }
  }
}


.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.95);
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease;


  &.animated {
    visibility: visible;
    opacity: 1;
  }
}

.modal-window {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  height: 100vh;

  @media only screen and (max-width: 590px) {
    text-align: center;
    flex-direction: column;

    p {
      max-width: 230px;
    }
  }
}

.button-basket-icon.basket-icon {
  fill: #20003a;
}

.button-basket-icon:hover {
  fill: #20003a;
}

.button-star-icon.favorite-icon {
  fill: #20003a;
}

.button-star-icon:hover {
  fill: #20003a;
}


.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 10px;

  @media only screen and (max-width: 605px) {
    gap: 10px;
    font-size: 12px;
  }

  a {
    color: aqua;
    transition: all 0.3s ease;
    border-radius: 30px;
    padding: 10px 30px;

    &.active {
      background-color: #b85900;
    }

    @media only screen and (max-width: 605px) {
      padding: 5px 20px;
    }
  }
}



















// RESET //
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  display: inline-block;
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}